
        <div class="row"  >
            <div class="col-lg-2"  *ngFor="let producto of productos" >     
                    <div class="card-body" (click)="sendAddProductoPedido(producto)">          
                            <app-card [producto]="producto"></app-card>                  
                    </div>     
            </div>
       
        </div>
    
        <div class="col-lg-1.5"  >
            <div class="card bg-warning" (click)="abrirModal()" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Crear</h6>
                            <h2 class="m-t-0 text-white"> Producto</h2></div>
                    </div>
                </div>
            </div>
        </div>