
.left-sidebar2 {
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0px;
    z-index: 20;
    padding-top: 70px;
    background: #fff;
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); }  