<div class="main ">
    <h1>Responsive Card Grid Layout</h1>
    <ul class="cards">
      <li class="cards_item "  *ngFor="let producto of productos">
        <div class="card ">
          <div class="card_image"><img  [src]="producto.img!  | imagen:'productos'"></div>
          <div class="card_content">
            <h2 class="card_title">{{producto.nombre}}</h2>
            <p class="card_text">{{producto.categoria}}</p>
            <button class="btn card_btn">+</button>
          </div>
        </div>
      </li>
     
      
     
    </ul>
  </div>
  
  <h3 class="made_by">Made with ♡</h3>